*{font-family: sans-serif; }

body {background-color: #cefad0 ;}

.header {text-align: center;}

.link {font-size: 14px;}

.ground-container {display: flex; justify-content: space-around; flex-wrap: wrap; ;}

h2 {font-size: 20px;}

/* #myweather {background-color: #454545;} */

.gnd_btn {display: flex; position:relative; margin: 15px 10px; justify-content: center; border: none; padding: 0; border-radius: 10px; box-shadow: 3px 3px 8px 3px #192841; overflow: hidden; align-items: center; }

.gnd_btn p {position: absolute; color: white; font-size: 20px; text-shadow: 2px 1px 2px black; font-weight: 800; }

.weathercontainer {display: flex; justify-content: center;margin-top: 15px; margin-bottom: 20px; }

#weather {display: flex; flex-direction: column; background-color: #23395d;color: white; padding-left: 15px; padding-right: 15px; padding-bottom: 10px; border-radius: 10px; visibility: hidden; }

#forecastCont {display: flex;  flex-wrap: wrap; justify-content: space-evenly;}
.forecast {display: flex; flex-direction: column; width: 26%; background-color: #23395d; margin-bottom: 20px; color: white; border-radius: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px; }

.date {font-size: 20px ;}

.container2 {display: flex;  flex-direction: column; justify-content: center; align-items: center;}

.myWeatherCont {display: flex; justify-content: center;}

#myweather {display: flex; flex-direction: column; background-color: #23395d;color: white; padding-left: 15px; padding-right: 15px; padding-bottom: 10px; border-radius: 10px; visibility: hidden; margin-bottom: 20px;}

#myforecastcont {display: flex;  flex-wrap: wrap; justify-content: space-evenly;}
.myforecast {display: flex; flex-direction: column; width: 26%; background-color: #23395d; margin-bottom: 20px; color: white; border-radius: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px; }
